<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Assistant</title>
    <%= renderTemplate("../../../src/html/_header.html.template") %>
    <%= renderTemplate("../../../src/html/_style_base.html.template") %>
    <style>
      html {
        background-color: var(--primary-background-color, #fafafa);
        color: var(--primary-text-color, #212121);
      }
      @media (prefers-color-scheme: dark) {
        html {
          background-color: var(--primary-background-color, #111111);
          color: var(--primary-text-color, #e1e1e1);
        }
      }
      body {
        height: auto;
        padding: 32px 0;
      }

      .content {
        max-width: min(560px, calc(100vw - var(--safe-area-inset-right, 0px) - var(--safe-area-inset-left, 0px)));
        margin: 0 auto;
        padding: 0 16px;
        box-sizing: content-box;
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
      }

      .header img {
        height: 56px;
        width: 56px;
      }
    </style>
  </head>
  <body id="particles">
    <div class="content">
      <div class="header">
        <img src="/static/icons/favicon-192x192.png" alt="Home Assistant" />
      </div>
      <ha-landing-page></ha-landing-page>
    </div>
    <%= renderTemplate("../../../src/html/_js_base.html.template") %>
    <%= renderTemplate("../../../src/html/_preload_roboto.html.template") %>
    <%= renderTemplate("../../../src/html/_script_loader.html.template") %>
  </body>
</html>
