<link rel='import' href='../../../bower_components/polymer/polymer-element.html'>

<dom-module id="ha-chart-base">
  <template>
    <div id="chartTarget" style="position: relative; height:200px; width:100%">
      <canvas id="chartCanvas"></canvas>
    </div>
  </template>
</dom-module>
<script src="../../../bower_components/moment/moment.js"></script>
<script src="../../../bower_components/chart.js/dist/Chart.js"></script>
<script src="../../../bower_components/chartjs-chart-timeline/timeline.js"></script>
<!--script src="../../../../chartjs-chart-timeline/timeline.js"></script-->
<script>
/* global Chart moment */
class HaChartBase extends
    Polymer.mixinBehaviors([Polymer.IronResizableBehavior], Polymer.Element) {
  get chart() {
    return this._chart;
  }
  static get is() { return 'ha-chart-base'; }
  static get properties() {
    return {
      publish: {
        type: Boolean,
        observer: 'onPropsChange'
      },
      data: {
        type: Object,
        observer: 'onPropsChange'
      },
      selectedElement: {
        type: Object,
        readOnly: true,
        notify: true,
      },
      connected: {
        type: Object,
        readOnly: false,
        observer: 'onPropsChange'
      },
    };
  }
  connectedCallback() {
    this.connected = true;
    this.addEventListener('iron-resize', () => {
      this.async(this.resizeChart, 10);
    });
  }
  onPropsChange() {
    if (!this.connected || !this.publish || !this.data || !this.data.data) {
      return;
    }
    this.drawChart();
  }
  drawChart() {
    var options = this.data;
    var data = options.data;
    var ctx = this.$.chartCanvas;

    if ((!data.datasets || !data.datasets.length) && !this._chart) {
      return;
    }

    if (this._chart) {
      this._chart.data = data;
      this._chart.update({ duration: 0 });
      this.resizeChart();
    } else {
      if (!data.datasets) {
        return;
      }
      // chartTarget.style.height = targetHeight;
      // chartTarget.height = targetHeight;
      this._chart = new Chart(ctx, options);
      this.resizeChart();
    }
  }
  resizeChart() {
    var options = this.data;
    var data = options.data;

    var chartTarget = this.$.chartTarget;

    if (options.type === 'timeline') {
      if (data.datasets.length === 0) {
        chartTarget.style.height = '0px';
        chartTarget.height = '0px';
        this._chart.resize();
      } else {
        var axis = this._chart.boxes.filter(x => x.position === 'bottom')[0];
        if (axis && axis.height > 0) {
          this._axisHeight = axis.height;
        }
        if (this._axisHeight) {
          var cnt = data.datasets.length;
          var targetHeight = ((30 * cnt) + this._axisHeight) + 'px';
          if (chartTarget.style.height !== targetHeight) {
            chartTarget.style.height = targetHeight;
            chartTarget.height = targetHeight;
          }
          this._chart.resize();
        }
      }
    }
  }
}
customElements.define(HaChartBase.is, HaChartBase);
</script>
