<link rel='import' href='../../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../../bower_components/iron-image/iron-image.html'>

<link rel='import' href='../domain-icon.html'>

<dom-module id='ha-state-domain-icon'>
  <style>
  /* Color the icon if light or sun is on */
  domain-icon[data-domain=light][data-state=on],
  domain-icon[data-domain=switch][data-state=on],
  domain-icon[data-domain=sun][data-state=above_horizon] {
    color: #fff176;
  }
  </style>

  <template>
    <domain-icon id='icon'
      domain='[[stateObj.domain]]' data-domain$='[[stateObj.domain]]'
      state='[[stateObj.state]]' data-state$='[[stateObj.state]]'>
    </domain-icon>
  </template>
</dom-module>
