<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../ha-icon.html">

<dom-module id="ha-state-icon">
  <template>
    <ha-icon icon="[[computeIcon(stateObj)]]"></ha-icon>
  </template>
</dom-module>

<script>
class HaStateIcon extends Polymer.Element {
  static get is() { return 'ha-state-icon'; }

  static get properties() {
    return {
      stateObj: {
        type: Object,
      },
    };
  }

  computeIcon(stateObj) {
    return window.hassUtil.stateIcon(stateObj);
  }
}

customElements.define(HaStateIcon.is, HaStateIcon);
</script>
