<link rel='import' href='../../../bower_components/polymer/polymer-element.html'>

<link rel='import' href='./ha-state-icon.html'>

<dom-module id='state-badge'>
  <template>
    <style>
    :host {
      position: relative;
      display: inline-block;
      width: 40px;
      color: var(--paper-item-icon-color, #44739e);
      border-radius: 50%;
      height: 40px;
      text-align: center;
      background-size: cover;
      line-height: 40px;
    }

    ha-state-icon {
      transition: color .3s ease-in-out;
    }

    /* Color the icon if light or sun is on */
    ha-state-icon[data-domain=light][data-state=on],
    ha-state-icon[data-domain=switch][data-state=on],
    ha-state-icon[data-domain=binary_sensor][data-state=on],
    ha-state-icon[data-domain=fan][data-state=on],
    ha-state-icon[data-domain=sun][data-state=above_horizon] {
      color: var(--paper-item-icon-active-color, #FDD835);
    }

    /* Color the icon if unavailable */
    ha-state-icon[data-state=unavailable] {
      color: var(--disabled-text-color);
    }
    </style>

    <ha-state-icon
      id='icon'
      state-obj='[[stateObj]]'
      data-domain$='[[computeDomain(stateObj)]]'
      data-state$='[[stateObj.state]]'
    ></ha-state-icon>
  </template>
</dom-module>

<script>
class StateBadge extends Polymer.Element {
  static get is() { return 'state-badge'; }
  static get properties() {
    return {
      stateObj: {
        type: Object,
        observer: 'updateIconColor',
      },
    };
  }

  computeDomain(stateObj) {
    return window.hassUtil.computeDomain(stateObj);
  }

  _rgbFromBrightness(brightness) {
    // Set icon bbroghtness to a scale between 15% bright to 100% bright.
    const iconBrightness = (brightness + 45) / (255 + 45);
    const hostBrightness = 1 - iconBrightness;
    const re = /rgb\((\d+), (\d+), (\d+)\)/;
    const rgbIconMatch = window.getComputedStyle(this.$.icon).color.match(re);
    const rgbHostMatch = window.getComputedStyle(this).color.match(re);
    let rgb;
    if (rgbIconMatch && rgbHostMatch) {
      const rgbIcon = rgbIconMatch.slice(1).map(v => Number.parseInt(v, 10));
      const rgbHost = rgbHostMatch.slice(1).map(v => Number.parseInt(v, 10));
      rgb = [
        Math.round((rgbIcon[0] * iconBrightness) + (rgbHost[0] * hostBrightness)),
        Math.round((rgbIcon[1] * iconBrightness) + (rgbHost[1] * hostBrightness)),
        Math.round((rgbIcon[2] * iconBrightness) + (rgbHost[2] * hostBrightness)),
      ];
      if (rgb.some(v => Number.isNaN(v))) {
        return undefined;
      }
    }
    return rgb;
  }

  /**
   * Called when an attribute changes that influences the color of the icon.
   */
  updateIconColor(newVal) {
    const icon = this.$.icon;
    // hide icon if we have entity picture
    if (newVal.attributes.entity_picture) {
      this.style.backgroundImage = 'url(' + newVal.attributes.entity_picture + ')';
      icon.style.display = 'none';
      return;
    }

    if (this._timeoutId) {
      window.clearTimeout(this._timeoutId);
      this._timeoutId = null;
    }

    this.style.backgroundImage = '';
    icon.style.display = 'inline';
    if (newVal.state === 'unavailable') return;
    let rgb;
    let oldColor;
    if (newVal.attributes.rgb_color) {
      rgb = newVal.attributes.rgb_color;
    } else if (newVal.attributes.brightness && newVal.attributes.brightness !== 255) {
      if (icon.style.color !== '') {
        oldColor = icon.style.color;
        icon.style.transition = 'none';
        icon.style.color = '';
      }
      rgb = this._rgbFromBrightness(newVal.attributes.brightness);
    }
    // Set color of icon to rgb color if available and it is not very white (sum rgb colors < 730)
    if (rgb && rgb.reduce((cur, tot) => cur + tot, 0) < 730) {
      if (oldColor) {
        icon.style.color = oldColor;
      }
      // If we had to cancel transition - wait after restoring old color so transition will start
      // from oldColor and not from css 'on' color.
      if (icon.style.transition && oldColor) {
        this._timeoutId = window.setTimeout(() => {
          icon.style.transition = '';
          icon.style.color = 'rgb(' + rgb.join(',') + ')';
        }, 10);
      } else {
        icon.style.color = 'rgb(' + rgb.join(',') + ')';
      }
    } else {
      icon.style.color = '';
    }
  }
}
customElements.define(StateBadge.is, StateBadge);
</script>
