<link rel='import' href='../../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../../bower_components/iron-image/iron-image.html'>

<link rel='import' href='../domain-icon.html'>

<dom-module id='state-badge'>
  <style>
  :host {
    position: relative;
    display: inline-block;
    width: 45px;
    background-color: #4fc3f7;
    color: white;
    border-radius: 50%;
  }

  div {
    height: 45px;
    text-align: center;
  }

  iron-image {
    border-radius: 50%;
  }

  domain-icon {
    margin: 0 auto;
    transition: color .3s ease-in-out;
  }

  /* Color the icon if light or sun is on */
  domain-icon[data-domain=light][data-state=on],
  domain-icon[data-domain=switch][data-state=on],
  domain-icon[data-domain=sun][data-state=above_horizon] {
    color: #fff176;
  }
  </style>

  <template>
    <div class='layout horizontal center'>
      <domain-icon id='icon'
        domain='[[stateObj.domain]]' data-domain$='[[stateObj.domain]]'
        state='[[stateObj.state]]' data-state$='[[stateObj.state]]'>
      </domain-icon>
      <template is='dom-if' if='[[stateObj.attributes.entity_picture]]'>
        <iron-image
          sizing='cover' class='fit'
          src$="[[stateObj.attributes.entity_picture]]"></iron-image>
      </template>
    </div>
  </template>
</dom-module>
