<link rel='import' href='../../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../../bower_components/iron-image/iron-image.html'>

<link rel='import' href='./ha-state-icon.html'>

<dom-module id='state-badge'>
  <style>
  :host {
    position: relative;
    display: inline-block;
    width: 40px;
    /*background-color: #4fc3f7;*/
    color: #44739E;
    border-radius: 50%;
  }

  .badge {
    height: 40px;
    text-align: center;
  }

  iron-image {
    border-radius: 50%;
  }

  ha-state-icon {
    margin: 0 auto;
    transition: color .3s ease-in-out;
  }

  /* Color the icon if light or sun is on */
  ha-state-icon[data-domain=light][data-state=on],
  ha-state-icon[data-domain=switch][data-state=on],
  ha-state-icon[data-domain=binary_sensor][data-state=on],
  ha-state-icon[data-domain=sun][data-state=above_horizon] {
    color: #DCC91F;
  }
  </style>

  <template>
    <div class='layout horizontal center badge'>
      <ha-state-icon id='icon' state-obj='[[stateObj]]'
        data-domain$='[[stateObj.domain]]' data-state$='[[stateObj.state]]'>
      </ha-state-icon>
      <template is='dom-if' if='[[stateObj.attributes.entity_picture]]'>
        <iron-image
          sizing='cover' class='fit'
          src$="[[stateObj.attributes.entity_picture]]"></iron-image>
      </template>
    </div>
  </template>
</dom-module>
