<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
    <link rel="icon" href="/static/icons/favicon.ico" />
    <link rel="mask-icon" href="/static/icons/mask-icon.svg" color="#03a9f4" />
    <link
      rel="preload"
      href="/static/fonts/roboto/Roboto-Regular.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/static/fonts/roboto/Roboto-Medium.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/icons/favicon-apple-180x180.png"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="msapplication-square70x70logo"
      content="/static/icons/tile-win-70x70.png"
    />
    <meta
      name="msapplication-square150x150logo"
      content="/static/icons/tile-win-150x150.png"
    />
    <meta
      name="msapplication-wide310x150logo"
      content="/static/icons/tile-win-310x150.png"
    />
    <meta
      name="msapplication-square310x310logo"
      content="/static/icons/tile-win-310x310.png"
    />
    <meta name="msapplication-TileColor" content="#03a9f4ff" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="referrer" content="same-origin" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#03a9f4" />
    <meta property="fb:app_id" content="338291289691179" />
    <meta property="og:title" content="Home Assistant Demo" />
    <meta property="og:site_name" content="Home Assistant" />
    <meta property="og:url" content="https://demo.home-assistant.io/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Open source home automation that puts local control and privacy first."
    />
    <meta
      property="og:image"
      content="https://www.home-assistant.io/images/default-social.png"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@home_assistant" />

    <meta name="twitter:title" content="Home Assistant" />
    <meta
      name="twitter:description"
      content="Open source home automation that puts local control and privacy first."
    />
    <meta
      name="twitter:image"
      content="https://www.home-assistant.io/images/default-social.png"
    />
    <title>Home Assistant Demo</title>
    <style>
      body {
        font-family: Roboto, Noto, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        height: 100vh;
        margin: 0;
        padding: 0;
      }
      #ha-init-skeleton::before {
        display: block;
        content: "";
        height: 64px;
        background-color: #03a9f4;
      }
    </style>
  </head>
  <body>
    <div id="ha-init-skeleton"></div>
    <ha-demo></ha-demo>
    <%= renderTemplate('_js_base') %>

    <script type="module" src="<%= latestDemoJS %>"></script>

    <script nomodule>
      (function() {
        // // Safari 10.1 supports type=module but ignores nomodule, so we add this check.
        if (!isS101) {
          _ls("/static/polyfills/custom-elements-es5-adapter.js");
          _ls("<%= es5Compatibility %>");
          _ls("<%= es5DemoJS %>");
        }
      })();
    </script>

    <script>
      var _gaq = [["_setAccount", "UA-57927901-5"], ["_trackPageview"]];
      (function(d, t) {
        var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
        g.src =
          ("https:" == location.protocol ? "//ssl" : "//www") +
          ".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g, s);
      })(document, "script");
    </script>
  </body>
</html>
