<meta charset="utf-8" />
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
<link rel="icon" href="/static/icons/favicon.ico" />
<% if (!useWDS) { %>
  <% for (const entry of latestEntryJS) { %>
    <link rel="modulepreload" href="<%= entry %>" crossorigin="use-credentials" />
  <% } %>
<% } %>
