<script>
  (function() {
    if (!window.latestJS) {
      <% if (useRollup) { %>
        _ls("/static/js/s.min.js").onload = function() {
          <% for (const entry of es5EntryJS) { %>
            System.import("<%= entry %>");
          <% } %>
        }
      <% } else { %>
        <% for (const entry of es5EntryJS) { %>
          _ls("<%= entry %>", true);
        <% } %>
      <% } %>
    }
  })();
</script>
