<meta name="viewport" content="width=device-width, user-scalable=no, viewport-fit=cover, initial-scale=1">
<style>
  body {
    font-family: Roboto, Noto, Noto Sans, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100%;
  }
</style>
