<!doctype html>
<html lang="en">
  <head>
    <title>Home Assistant</title>
    <link rel='preload' href='/static/fonts/roboto/Roboto-Light.ttf' as='font' crossorigin />
    <link rel='preload' href='/static/fonts/roboto/Roboto-Regular.ttf' as='font' crossorigin />
    <%= require('raw-loader!./_header.html.template') %>
    <style>
      .content {
        padding: 20px 16px;
        max-width: 360px;
        margin: 0 auto;
      }

      .header {
        font-size: 1.96em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
      }

      .header img {
        margin-right: 16px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <div class='header'>
        <img src="/static/icons/favicon-192x192.png" height="52">
        Home Assistant
      </div>
      <ha-authorize><p>Initializing</p></ha-authorize>
    </div>
    <% if (!latestBuild) { %>
      <script src="/static/custom-elements-es5-adapter"></script>
      <script src="<%= compatibility %>"></script>
    <% } %>
    <script>
    window.providersPromise = fetch('/auth/providers', { credentials: 'same-origin' });

    var webComponentsSupported = (
      'customElements' in window &&
      'content' in document.createElement('template'));
    if (!webComponentsSupported) {
      var e = document.createElement('script');
      e.src = '/static/webcomponents-bundle';
      document.write(e.outerHTML);
    }
    </script>
    <script src="<%= entrypoint %>"></script>
    <script src='<%= hassIconsJS %>' async></script>
  </body>
</html>
