<!DOCTYPE html>
<html>
  <head>
    <title>Authorize | Home Assistant</title>
    <%= renderTemplate("_header.html.template") %>
    <%= renderTemplate("_style_base.html.template") %>
    <style>
      html {
        font-size: 14px;
        height: 100%;
      }
      body {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
      }
      ha-authorize {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem;
        border-radius: 0 0 1rem 1rem;

        min-width: 10rem;
        min-height: 10rem;
        flex-shrink: 0;
      }

      @media (min-width: 32rem) {
        body {
          padding: 1rem;
        }
        ha-authorize {
          margin: auto;
          max-width: 32rem;
          border-radius: 1rem;
        }
      }

      /* Manually declare colors for performance */
      body {
        background-color: #ffffff;
        color: #212121;
        accent-color: #0288d1;
        --tinted-text-color: #50606e;
        --error-color: #db4437;
        --rgb-error-color: 219, 68, 55;
        --primary-color: #03a9f4;
        --rgb-primary-color: 3, 169, 244;
        --text-primary-color: #ffffff;
      }
      ha-authorize {
        background-color: #f2f4f9;
      }
      ha-authorize-field {
        background-color: rgb(0, 0, 0, 0.08);
        --bar-color: rgb(0, 0, 0, 0.4);
        --text-opacity: 0.8;
      }
      @media (prefers-color-scheme: dark) {
        html {
          color-scheme: dark;
        }
        body {
          background-color: #111111;
          color: #e1e1e1;
          accent-color: #03a9f4;
          --tinted-text-color: #b7c9d9;
        }
        ha-authorize {
          background-color: #1c1c1c;
        }
        ha-authorize-field {
          background-color: rgb(255, 255, 255, 0.05);
          --bar-color: rgb(255, 255, 255, 0.4);
          --text-opacity: 0.6;
        }
      }
    </style>
  </head>
  <body>
    <ha-authorize></ha-authorize>
    <%= renderTemplate("_js_base.html.template") %>
    <%= renderTemplate("_preload_roboto.html.template") %>
    <script crossorigin="use-credentials">
      // Safari 12 and below does not have a compliant ES2015 implementation of template literals, so we ship ES5
      window.latestJS = window.latestJS || !isS11_12;
      if (window.latestJS) {
        <% for (const entry of latestEntryJS) { %>
          import("<%= entry %>");
        <% } %>
        window.providersPromise = fetch("/auth/providers", {
          credentials: "same-origin",
        });
      }
    </script>
    <%= renderTemplate("_script_load_es5.html.template") %>
  </body>
</html>
