version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
      time: "06:00"
    open-pull-requests-limit: 10
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
    open-pull-requests-limit: 5
    ignore:
      # Ignore rollup and plugins until everything else is updated
      - dependency-name: "*rollup*"
      - dependency-name: "@rollup/*"
