{
  "presets": ["es2015"],
  "plugins": ["transform-object-rest-spread", "transform-export-extensions",
              "transform-class-properties", "babel-plugin-default-import-checker"],
  "highlightCode": true
}
