{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread",
    [
      "transform-react-jsx",
      {
        "pragma":"h"
      }
    ],
  ]
}
