build
build-translations/*
hassio/build-es5/*
node_modules/*
npm-debug.log
.DS_Store
hass_frontend/*
hass_frontend_es5/*
.reify-cache

# Python stuff
*.py[cod]
*.egg
*.egg-info

# venv stuff
pyvenv.cfg
pip-selfcheck.json
venv
.venv
lib
bin
dist

# Secrets
.lokalise_token
yarn-error.log
