<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#2157BC" />
    <title>Home Assistant Design</title>
    <% for (const entry of latestEntryJS) { %>
      <script type="module" src="<%= entry %>"></script>
    <% } %>
    <style>
      body {
        font-family: Roboto, Noto, sans-serif;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body></body>
</html>
