<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="domain-icon">
  <template>
    <iron-icon icon="[[computeIcon(domain, state)]]"></iron-icon>
  </template>
</dom-module>

<script>
class DomainIcon extends Polymer.Element {
  static get is() { return 'domain-icon'; }

  static get properties() {
    return {
      domain: {
        type: String,
        value: '',
      },

      state: {
        type: String,
        value: '',
      },
    };
  }

  computeIcon(domain, state) {
    return window.hassUtil.domainIcon(domain, state);
  }
}

customElements.define(DomainIcon.is, DomainIcon);
</script>
