<link rel='import' href='../../bower_components/polymer/polymer.html'>
<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<dom-module id='ha-card'>
  <style include="paper-material">
    :host {
      display: block;
      border-radius: 2px;
      transition: all 0.30s ease-out;

      background-color: white;
    }
    .header {
      font-size: 24px;
      padding: 24px 16px 16px;
      text-transform: capitalize;
    }
  </style>
  <template>
    <template is='dom-if' if='[[header]]'>
      <div class='header'>[[header]]</div>
    </template>
    <content></content>
  </template>
</dom-module>
