<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="ha-climate-state">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .target {
        color: var(--primary-text-color);
      }

      .current {
        color: var(--secondary-text-color);
      }

      .state-label {
        font-weight: bold;
        text-transform: capitalize;
      }
    </style>

    <div class='target'>
      <span class="state-label">
        [[stateObj.state]]
      </span>
      [[computeTarget(stateObj)]]
    </div>

    <template is='dom-if' if='[[currentStatus]]'>
      <div class='current'>
        Currently: [[currentStatus]]
      </div>
    </template>
  </template>
</dom-module>

<script>
class HaClimateState extends Polymer.Element {
  static get is() { return 'ha-climate-state'; }

  static get properties() {
    return {
      stateObj: Object,
      currentStatus: {
        type: String,
        computed: 'computeCurrentStatus(stateObj)',
      },
    };
  }

  computeCurrentStatus(stateObj) {
    if ('current_temperature' in stateObj.attributes) {
      return `${stateObj.attributes.current_temperature} ${stateObj.attributes.unit_of_measurement}`;
    }
    if ('current_humidity' in stateObj.attributes) {
      return `${stateObj.attributes.current_humidity} ${stateObj.attributes.unit_of_measurement}`;
    }
    return null;
  }

  computeTarget(stateObj) {
    if ('target_temp_low' in stateObj.attributes &&
        'target_temp_high' in stateObj.attributes) {
      return `${stateObj.attributes.target_temp_low} - ${stateObj.attributes.target_temp_high} ${stateObj.attributes.unit_of_measurement}`;
    } else if ('temperature' in stateObj.attributes) {
      return `${stateObj.attributes.temperature} ${stateObj.attributes.unit_of_measurement}`;
    } else if ('target_humidity_low' in stateObj.attributes &&
        'target_humidity_high' in stateObj.attributes) {
      return `${stateObj.attributes.target_humidity_low} - ${stateObj.attributes.target_humidity_high} ${stateObj.attributes.unit_of_measurement}`;
    } else if ('humidity' in stateObj.attributes) {
      return `${stateObj.attributes.humidity} ${stateObj.attributes.unit_of_measurement}`;
    }

    return '';
  }
}
customElements.define(HaClimateState.is, HaClimateState);
</script>
