<link rel='import' href='../../bower_components/polymer/polymer.html'>

<dom-module id='ha-card'>
  <style>
    .title {
      padding: 8px 0;
      text-transform: uppercase;
    }
    .card {
      display: block;
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px, rgba(0, 0, 0, 0.098) 0px 0px 3px;
      transition: all 0.30s ease-out;

      background-color: white;
    }
    .header {
      font-size: 24px;
      padding: 24px 16px 16px;
      text-transform: capitalize;
    }
  </style>
  <template>
    <template is='dom-if' if='[[title]]'>
      <div class='title'>[[title]]</div>
    </template>
    <div class='card'>
      <template is='dom-if' if='[[header]]'>
        <div class='header'>[[header]]</div>
      </template>
      <content></content>
    </div>
  </template>
</dom-module>
