<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../util/cover-model.html">

<dom-module id="ha-cover-controls">
  <template>
    <style>
      .state {
        white-space: nowrap;
      }
      [invisible] {
        visibility: hidden !important;
      }
    </style>

    <div class='state'>
      <paper-icon-button icon="hass:arrow-up" on-click='onOpenTap'
        invisible$='[[!entityObj.supportsOpen]]'
        disabled='[[computeOpenDisabled(stateObj, entityObj)]]'></paper-icon-button>
      <paper-icon-button icon="hass:stop" on-click='onStopTap'
        invisible$='[[!entityObj.supportsStop]]'></paper-icon-button>
      <paper-icon-button icon="hass:arrow-down" on-click='onCloseTap'
        invisible$='[[!entityObj.supportsClose]]'
        disabled='[[computeClosedDisabled(stateObj, entityObj)]]'></paper-icon-button>
    </div>
  </template>
</dom-module>

<script>
class HaCoverControls extends Polymer.Element {
  static get is() { return 'ha-cover-controls'; }

  static get properties() {
    return {
      hass: {
        type: Object,
      },
      stateObj: {
        type: Object,
      },
      entityObj: {
        type: Object,
        computed: 'computeEntityObj(hass, stateObj)',
      },
    };
  }
  computeEntityObj(hass, stateObj) {
    return new window.CoverEntity(hass, stateObj);
  }
  computeOpenDisabled(stateObj, entityObj) {
    var assumedState = stateObj.attributes.assumed_state === true;
    return entityObj.isFullyOpen && !assumedState;
  }
  computeClosedDisabled(stateObj, entityObj) {
    var assumedState = (stateObj.attributes.assumed_state === true);
    return entityObj.isFullyClosed && !assumedState;
  }
  onOpenTap(ev) {
    ev.stopPropagation();
    this.entityObj.openCover();
  }
  onCloseTap(ev) {
    ev.stopPropagation();
    this.entityObj.closeCover();
  }
  onStopTap(ev) {
    ev.stopPropagation();
    this.entityObj.stopCover();
  }
}

customElements.define(HaCoverControls.is, HaCoverControls);
</script>
