<link rel='import' href='../../bower_components/polymer/polymer-element.html'>

<link rel='import' href='./ha-label-badge.html'>

<dom-module id='ha-demo-badge'>
  <template>
    <style>
      :host {
        --ha-label-badge-color: #dac90d;
      }
    </style>

    <ha-label-badge
      icon='hass:emoticon'
      label='Demo'
      description=''
    ></ha-label-badge>
  </template>
</dom-module>

<script>
class HaDemoBadge extends Polymer.Element {
  static get is() { return 'ha-demo-badge'; }
}

customElements.define(HaDemoBadge.is, HaDemoBadge);
</script>
