<link rel='import' href='../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../bower_components/iron-icon/iron-icon.html'>

<dom-module id='ha-icon-check'>
  <template>
    <style>
      :host {
        --ha-label-badge-color: #dac90d;
      }

      .pos {
        color: var(--google-green-500);
      }

      .neg {
        color: var(--google-red-500);
      }

      [hidden] {
        display: none;
      }
    </style>

    <iron-icon
      class='pos'
      hidden='[[!checked]]'
      icon='mdi:check'
      label='True'
    ></iron-icon>
    <iron-icon
      class='neg'
      hidden='[[checked]]'
      icon='mdi:window-close'
      label='False'
    ></iron-icon>
  </template>
</dom-module>

<script>
Polymer({
  is: 'ha-icon-check',
  properties: {
    checked: Boolean,
  }
});
</script>
