<link rel='import' href='../../bower_components/polymer/polymer-element.html'>
<link rel='import' href='../../bower_components/iron-icon/iron-icon.html'>
<link rel='import' href='../../bower_components/paper-slider/paper-slider.html'>

<dom-module id='ha-labeled-slider'>
  <template>
    <style>
      :host {
        display: block;
        padding-bottom: 16px;
      }

      .title {
        margin-bottom: 16px;
        opacity: var(--dark-primary-opacity);
      }

      iron-icon {
        float: left;
        margin-top: 4px;
        opacity: var(--dark-secondary-opacity);
      }

      .slider-container {
        margin-left: 24px;
      }

      paper-slider {
        background-image: var(--ha-slider-background);
      }
    </style>

    <div class='title'>[[caption]]</div>
    <iron-icon icon='[[icon]]'></iron-icon>
    <div class='slider-container'>
      <paper-slider min='[[min]]' max='[[max]]' value='{{value}}' ignore-bar-touch='[[ignoreBarTouch]]'>
      </paper-slider>
    </div>
  </template>
</dom-module>

<script>
class HaLabeledSlider extends Polymer.Element {
  static get is() { return 'ha-labeled-slider'; }

  static get properties() {
    return {
      caption: String,
      icon: String,
      min: Number,
      max: Number,
      ignoreBarTouch: Boolean,

      value: {
        type: Number,
        notify: true,
      },
    };
  }
}

customElements.define(HaLabeledSlider.is, HaLabeledSlider);
</script>
