<link rel='import' href='../../bower_components/polymer/polymer-element.html'>
<link rel='import' href='../../bower_components/iron-icon/iron-icon.html'>
<link rel="import" href='./ha-paper-slider.html'>

<dom-module id='ha-labeled-slider'>
  <template>
    <style>
      :host {
        display: block;
        padding-bottom: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .title {
        font-size: 90%;
        opacity: var(--dark-primary-opacity);
        line-height: 1.2em;
        padding-top: 0.3em;

      }

      .icon-container {
        flex: 1 1 50px;
        text-align: center;
        opacity: var(--dark-secondary-opacity);
        width: 60px;
        margin-top: 5px;
      }

      .slider-container {
        flex: 1 1 200px;
      }
      ha-paper-slider {
        width: 100%;
        background-image: var(--ha-slider-background);
        border-radius: 8px;
      }

    </style>
    <div class='icon-container'>
      <iron-icon icon='[[icon]]'></iron-icon>
      <div class='title'>[[caption]]</div>
    </div>
    <div class='slider-container'>
      <ha-paper-slider min='[[min]]' max='[[max]]' value='{{value}}' ignore-bar-touch='[[ignoreBarTouch]]'>
      </ha-paper-slider>
    </div>
  </template>
</dom-module>

<script>
class HaLabeledSlider extends Polymer.Element {
  static get is() { return 'ha-labeled-slider'; }

  static get properties() {
    return {
      caption: String,
      icon: String,
      min: Number,
      max: Number,
      ignoreBarTouch: Boolean,

      value: {
        type: Number,
        notify: true,
      },
    };
  }
}

customElements.define(HaLabeledSlider.is, HaLabeledSlider);
</script>
