<link rel='import' href='../../bower_components/polymer/polymer-element.html'>
<link rel='import' href='../../bower_components/paper-icon-button/paper-icon-button.html'>

<link rel='import' href='../../src/util/hass-mixins.html'>

<dom-module id='ha-menu-button'>
  <template>
    <style>
      .invisible {
        visibility: hidden;
      }
    </style>
    <paper-icon-button
      icon='hass:menu'
      class$='[[computeMenuButtonClass(narrow, showMenu)]]'
      on-click='toggleMenu'
    ></paper-icon-button>
  </template>
</dom-module>

<script>
class HaMenuButton extends window.hassMixins.EventsMixin(Polymer.Element) {
  static get is() { return 'ha-menu-button'; }

  static get properties() {
    return {
      narrow: {
        type: Boolean,
        value: false,
      },

      showMenu: {
        type: Boolean,
        value: false,
      },
    };
  }

  computeMenuButtonClass(narrow, showMenu) {
    return !narrow && showMenu ? 'invisible' : '';
  }

  toggleMenu(ev) {
    ev.stopPropagation();
    this.fire('hass-open-menu');
  }
}

customElements.define(HaMenuButton.is, HaMenuButton);
</script>
