<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel='import' href='../../src/util/hass-mixins.html'>

<dom-module id='ha-start-voice-button'>
  <template>
    <paper-icon-button
      icon="hass:microphone" hidden$='[[!canListen]]'
      on-click="handleListenClick"
    ></paper-icon-button>

  </template>
</dom-module>

<script>
class HaStartVoiceButton extends window.hassMixins.EventsMixin(Polymer.Element) {
  static get is() { return 'ha-start-voice-button'; }

  static get properties() {
    return {
      hass: {
        type: Object,
        value: null,
      },

      canListen: {
        type: Boolean,
        computed: 'computeCanListen(hass)',
        notify: true,
      },
    };
  }

  computeCanListen(hass) {
    return ('webkitSpeechRecognition' in window &&
            window.hassUtil.isComponentLoaded(hass, 'conversation'));
  }

  handleListenClick() {
    this.fire('hass-start-voice');
  }
}

customElements.define(HaStartVoiceButton.is, HaStartVoiceButton);
</script>
