<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id='ha-service-description'>
  <template>
    [[_getDescription(hass, domain, service)]]
  </template>
</dom-module>

<script>
class HaServiceDescription extends Polymer.Element {
  static get is() { return 'ha-service-description'; }

  static get properties() {
    return {
      hass: Object,
      domain: String,
      service: String,
    };
  }

  _getDescription(hass, domain, service) {
    var domainServices = hass.config.services[domain];
    if (!domainServices) return '';
    var serviceObject = domainServices[service];
    if (!serviceObject) return '';
    return serviceObject.description;
  }
}

customElements.define(HaServiceDescription.is, HaServiceDescription);
</script>
