<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="./ha-demo-badge.html">
<link rel="import" href="../cards/ha-badges-card.html">
<link rel="import" href="../cards/ha-domain-card.html">
<link rel="import" href="../cards/ha-introduction-card.html">

<dom-module id="ha-zone-cards">
  <style>
    :host {
      display: block;
      padding-right: 8px;
    }

    .no-badges {
      height: 8px;
    }

    .badges {
      margin-top: 16px;
      margin-left: 8px;
      font-size: 85%;
      text-align: center;
    }

    .column {
      max-width: 500px;
    }

    .zone-card {
      margin-left: 8px;
      margin-bottom: 8px;
    }

    @media (max-width: 500px) {
      :host {
        padding-right: 0;
      }

      .zone-card {
        margin-left: 0;
      }
    }
  </style>

  <template>
    <div class='main'>
      <template is='dom-if' if='[[cards._badges.length]]'>
        <div class='badges'>
          <template is='dom-if' if='[[cards._demo]]'>
            <ha-demo-badge></ha-demo-badge>
          </template>

          <ha-badges-card states='[[cards._badges]]'></ha-badges-card>
        </div>
      </template>
      <template is='dom-if' if='[[!cards._badges.length]]'>
        <div class='no-badges'> </div>
      </template>
      <div class='horizontal layout'>
        <template is='dom-repeat' items='[[cards._columns]]' as='column'>
          <template is='dom-if'
                    if='[[computeShouldRenderColumn(index, column)]]'>
            <div class='column flex-1'>
              <template is='dom-if' if='[[computeShowIntroduction(index, showIntroduction, cards)]]'>
                <div class='zone-card'>
                  <ha-introduction-card show-hide-instruction='[[computeShowHideInstruction(states, cards)]]'></ha-introduction-card>
                </div>
              </template>
              <template is='dom-repeat' items='[[column]]' as='domain'>
                <div class='zone-card'>
                  <ha-domain-card domain='[[domain]]'
                    states='[[computeStatesOfCard(cards, domain)]]'
                    group-entity='[[computeGroupEntityOfCard(cards, domain)]]'
                  ></ha-domain-card>
                </div>
              </template>
            </div>
          </template>
        </template>
    </div>
  </template>

</dom-module>
