<link rel='import' href='../../bower_components/polymer/polymer-element.html'>
<link rel='import' href='../../bower_components/iron-icon/iron-icon.html'>

<link rel='import' href='./ha-relative-time.html'>
<link rel='import' href='../util/hass-util.html'>

<dom-module id='hassio-card-content'>
  <template>
    <style>
      iron-icon {
        margin-right: 16px;
        margin-top: 16px;
        float: left;
        color: var(--secondary-text-color);
      }
      iron-icon.update {
        color: var(--paper-orange-400);
      }
      iron-icon.running,
      iron-icon.installed {
        color: var(--paper-green-400);
      }
      iron-icon.hassupdate,
      iron-icon.snapshot {
        color: var(--paper-item-icon-color);
      }
      .title {
        color: var(--primary-text-color);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .addition {
        color: var(--secondary-text-color);
        overflow: hidden;
        position: relative;
        height: 2.4em;
        line-height: 1.2em;
      }
      ha-relative-time {
        display: block;
      }
    </style>
    <iron-icon icon='[[icon]]' class$='[[iconClass]]' title='[[iconTitle]]'></iron-icon>
    <div>
      <div class='title'>[[title]]</div>
      <div class='addition'>
        <template is='dom-if' if='[[description]]'>
          [[description]]
        </template>
        <template is='dom-if' if='[[datetime]]'>
          <ha-relative-time class='addition' datetime='[[datetime]]'></ha-relative-time>
        </template>
      </div>
    </div>
  </template>
</dom-module>

<script>
class HassioCardContent extends Polymer.Element {
  static get is() { return 'hassio-card-content'; }

  static get properties() {
    return {
      title: String,
      description: String,
      datetime: String,
      icon: {
        type: String,
        value: 'hass:help-circle'
      },
      iconTitle: String,
      iconClass: String,
    };
  }
}
customElements.define(HassioCardContent.is, HassioCardContent);
</script>
