<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="loading-box">
  <style is="custom-style" include="iron-flex"></style>
  <style>
    .text {
      display: inline-block;
      line-height: 28px;
      vertical-align: top;
      margin-left: 8px;
    }
  </style>
  <template>
    <div class='layout horizontal'>
      <paper-spinner active="true"></paper-spinner>
      <div class='text'><content></content>…</div>
    </div>
  </template>
</dom-module>
