<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<script>
class StateHistoryChartTimeline extends
    Polymer.mixinBehaviors([Polymer.IronResizableBehavior], Polymer.Element) {
  static get is() { return 'state-history-chart-timeline'; }
  static get properties() {
    return {
      data: {
        type: Object,
      },
      noSingle: Boolean,
      endTime: Date,
    };
  }

  static get observers() {
    return ['dataChanged(data, endTime)'];
  }

  connectedCallback() {
    super.connectedCallback();
    this._isAttached = true;
    this.drawChart();
    this.addEventListener('iron-resize', () => {
      this.async(this.drawChart, 10);
    });
  }

  dataChanged() {
    this.drawChart();
  }

  drawChart() {
    var stateHistory = this.data;
    var chart;
    var dataTable;
    var startTime;
    var endTime;
    var numTimelines;
    var format;
    var daysDelta;

    if (!this._isAttached) {
      return;
    }

    while (this.lastChild) {
      this.removeChild(this.lastChild);
    }

    if (!stateHistory || stateHistory.length === 0) {
      return;
    }

    chart = new window.google.visualization.Timeline(this);
    dataTable = new window.google.visualization.DataTable();

    dataTable.addColumn({ type: 'string', id: 'Entity' });
    dataTable.addColumn({ type: 'string', id: 'State' });
    dataTable.addColumn({ type: 'date', id: 'Start' });
    dataTable.addColumn({ type: 'date', id: 'End' });

    function addRow(entityDisplay, stateStr, start, end) {
      var stateDisplay = stateStr.replace(/_/g, ' ');
      dataTable.addRow([entityDisplay, stateDisplay, start, end]);
    }

    startTime = new Date(
      stateHistory.reduce(
        function (minTime, stateInfo) {
          return Math.min(minTime, new Date(stateInfo.data[0].last_changed));
        }, new Date()));

    // end time is Math.max(startTime, last_event)
    endTime = this.endTime ||
      new Date(stateHistory.reduce(
        function (maxTime, stateInfo) {
          return Math.max(maxTime,
                          new Date(stateInfo.data[stateInfo.data.length - 1].last_changed));
        }, startTime));

    if (endTime > new Date()) {
      endTime = new Date();
    }
    format = 'H:mm';
    daysDelta = (endTime - startTime) / (24 * 3600 * 1000);
    // Avoid rounding up when the API returns a few extra seconds.
    if (daysDelta > 30.1) {
      format = 'MMM d';
    } else if (daysDelta > 3.1) {
      format = 'EEE, MMM d';
    } else if (daysDelta > 1.1) {
      format = 'EEE, MMM d, H:mm';
    }

    numTimelines = 0;
    // stateHistory is a list of lists of sorted state objects
    stateHistory.forEach(function (stateInfo) {
      var entityDisplay;
      var newLastChanged;
      var prevState = null;
      var prevLastChanged = null;

      if (stateInfo.data.length === 0) return;

      entityDisplay = stateInfo.name;

      stateInfo.data.forEach(function (state) {
        var timeStamp = new Date(state.last_changed);
        if (timeStamp > endTime) {
          // Drop datapoints that are after the requested endTime. This could happen if
          // endTime is "now" and client time is not in sync with server time.
          return;
        }
        if (prevState !== null && state.state !== prevState) {
          newLastChanged = new Date(state.last_changed);

          addRow(entityDisplay, prevState, prevLastChanged, newLastChanged);

          prevState = state.state;
          prevLastChanged = newLastChanged;
        } else if (prevState === null) {
          prevState = state.state;
          prevLastChanged = new Date(state.last_changed);
        }
      });

      addRow(entityDisplay, prevState, prevLastChanged, endTime);
      numTimelines++;
    });

    chart.draw(dataTable, {
      backgroundColor: '#fafafa',

      height: 55 + (numTimelines * 42),

      timeline: {
        showRowLabels: this.noSingle || stateHistory.length > 1,
      },

      hAxis: {
        format: format
      },
    });
  }
}
customElements.define(StateHistoryChartTimeline.is, StateHistoryChartTimeline);
</script>
