<!DOCTYPE html>
<html>
  <head>
    <title>Home Assistant Cast</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/images/ha-cast-icon.png" type="image/png" />
    <%= renderTemplate('_style_base') %>
    <style>
      body {
        background-color: #e5e5e5;
      }
    </style>
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Home Assistant Cast">
    <meta property="og:site_name" content="Home Assistant Cast">
    <meta property="og:url" content="https://cast.home-assistant.io/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Show Home Assistant on your Chromecast or Google Assistant devices with a screen.">
    <meta property="og:image" content="https://cast.home-assistant.io/images/google-nest-hub.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="Home Assistant Cast">
    <meta name="twitter:description" content="Show Home Assistant on your Chromecast or Google Assistant devices with a screen.">
    <meta name="twitter:image" content="https://cast.home-assistant.io/images/google-nest-hub.png">
  </head>
  <body>
    <%= renderTemplate('_js_base') %>

    <hc-connect></hc-connect>

    <script>
      import("<%= latestLauncherJS %>");
      window.latestJS = true;
    </script>

    <script>
      if (!window.latestJS) {
        <% if (useRollup) { %>
          _ls("/static/js/s.min.js").onload = function() {
            System.import("<%= es5LauncherJS %>");
          };
        <% } else { %>
          _ls("<%= es5LauncherJS %>");
        <% } %>
      }
    </script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57927901-9', 'auto');
    ga('send', 'pageview', location.pathname.includes("auth_callback") === -1 ? location.pathname : "/");
    </script>
  </body>
</html>
