<link rel='import' href='../../bower_components/paper-button/paper-button.html'>

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">

<dom-module id='hass-error-screen'>
  <template>
    <style include='iron-flex ha-style'>
      .placeholder {
        height: 100%;
      }

      .layout {
        height: calc(100% - 64px);
      }

      paper-button {
        font-weight: bold;
        color: var(--primary-color);
      }
    </style>

    <div class='placeholder'>
      <app-toolbar>
        <div main-title>[[title]]</div>
      </app-toolbar>
      <div class='layout vertical center-center'>
        <h3>[[error]]</h3>
        <paper-button on-tap='backTapped'>go back</paper-button>
      </div>
    </div>
  </template>
</dom-module>

<script>
Polymer({
  is: 'hass-error-screen',

  properties: {
    title: {
      type: String,
      value: 'Home Assistant',
    },

    error: {
      type: String,
      value: 'Oops! It looks like something went wrong.'
    },
  },

  backTapped: function () {
    history.back();
  },
});
</script>
