<link rel='import' href='../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../bower_components/paper-drawer-panel/paper-drawer-panel.html'>
<link rel='import' href='../../bower_components/iron-media-query/iron-media-query.html'>
<link rel='import' href='../../bower_components/iron-pages/iron-pages.html'>

<link rel='import' href='../layouts/partial-cards.html'>
<link rel='import' href='../layouts/partial-panel-resolver.html'>
<link rel='import' href='../managers/notification-manager.html'>
<link rel="import" href="../dialogs/more-info-dialog.html">
<link rel="import" href="../dialogs/ha-voice-command-dialog.html">

<link rel='import' href='../components/ha-sidebar.html'>

<dom-module id='home-assistant-main'>
  <template>
    <more-info-dialog hass='[[hass]]'></more-info-dialog>
    <ha-voice-command-dialog
      hass='[[hass]]'
      id='voiceDialog'
    ></ha-voice-command-dialog>
<!--     <notification-manager hass='[[hass]]'></notification-manager> -->
    <iron-media-query query="(max-width: 870px)" query-matches="{{narrow}}">
    </iron-media-query>

    <paper-drawer-panel id='drawer'
      force-narrow='[[computeForceNarrow(narrow, dockSidebar)]]'
      responsive-width='0' disable-swipe='[[isSelectedMap]]'
      disable-edge-swipe='[[isSelectedMap]]'>
      <ha-sidebar drawer narrow='[[narrow]]' hass='[[hass]]'></ha-sidebar>

      <iron-pages
        main
        attr-for-selected='id'
        fallback-selection='panel-resolver'
        selected='[[currentPanel]]'
        selected-attribute='panel-visible'
      >
        <partial-cards
          id='states'
          narrow='[[narrow]]'
          actions='[[actions]]'
          hass='[[hass]]'
          show-menu='[[dockSidebar]]'
        ></partial-cards>

        <partial-panel-resolver
          id='panel-resolver'
          narrow='[[narrow]]'
          hass='[[hass]]'
          show-menu='[[dockSidebar]]'
        ></partial-panel-resolver>

      </iron-pages>
    </paper-drawer-panel>

  </template>
</dom-module>

<script>
Polymer({
  is: 'home-assistant-main',

  properties: {
    hass: {
      type: Object,
      value: null,
    },

    narrow: {
      type: Boolean,
      value: true,
    },

    currentPanel: {
      type: String,
      computed: 'computeCurrentPanel(hass)',
      observer: 'currentPanelChanged',
    },

    dockSidebar: {
      type: Boolean,
      computed: 'computeDockSidebar(hass)',
    },
  },

  listeners: {
    'hass-open-menu': 'handleOpenMenu',
    'hass-close-menu': 'handleCloseMenu',
    'hass-start-voice': 'handleStartVoice',
  },

  handleStartVoice: function (ev) {
    ev.stopPropagation();
    this.$.voiceDialog.startListening();
  },

  handleOpenMenu: function () {
    if (this.narrow) {
      this.$.drawer.openDrawer();
    } else {
      this.fire('hass-dock-sidebar', { dock: true });
    }
  },

  handleCloseMenu: function () {
    this.$.drawer.closeDrawer();
    if (this.dockSidebar) {
      this.fire('hass-dock-sidebar', { dock: false });
    }
  },

  currentPanelChanged: function () {
    if (this.narrow) {
      this.$.drawer.closeDrawer();
    }
  },

  attached: function () {
    window.removeInitMsg();
    // this.hass.startUrlSync();
  },

  computeForceNarrow: function (narrow, dockSidebar) {
    return narrow || !dockSidebar;
  },

  computeCurrentPanel: function (hass) {
    return hass.currentPanel;
  },

  computeDockSidebar: function (hass) {
    return hass.dockedSidebar;
  },

  detached: function () {
    // this.hass.stopUrlSync();
  },
});
</script>
