<link rel='import' href='../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../bower_components/layout/layout.html'>

<link rel='import' href='../../bower_components/paper-drawer-panel/paper-drawer-panel.html'>
<link rel='import' href='../layouts/partial-zone.html'>
<link rel='import' href='../layouts/partial-logbook.html'>
<link rel='import' href='../layouts/partial-history.html'>
<link rel='import' href='../layouts/partial-dev-call-service.html'>
<link rel='import' href='../layouts/partial-dev-fire-event.html'>
<link rel='import' href='../layouts/partial-dev-set-state.html'>
<link rel='import' href='../managers/notification-manager.html'>
<link rel="import" href="../dialogs/more-info-dialog.html">

<link rel='import' href='../components/ha-sidebar.html'>

<dom-module id='home-assistant-main'>
  <template>
    <notification-manager></notification-manager>
    <more-info-dialog></more-info-dialog>

    <paper-drawer-panel id='drawer' narrow='{{narrow}}'>
      <ha-sidebar drawer></ha-sidebar>

      <template is='dom-if' if='[[isSelectedStates]]'>
        <partial-zone main narrow='[[narrow]]'></partial-zone>
      </template>
      <template is='dom-if' if='[[isSelectedLogbook]]'>
        <partial-logbook main narrow='[[narrow]]'></partial-logbook>
      </template>
      <template is='dom-if' if='[[isSelectedHistory]]'>
        <partial-history main narrow='[[narrow]]'></partial-history>
      </template>
      <template is='dom-if' if='[[isSelectedDevService]]'>
        <partial-dev-call-service main narrow='[[narrow]]'></partial-dev-call-service>
      </template>
      <template is='dom-if' if='[[isSelectedDevEvent]]'>
        <partial-dev-fire-event main narrow='[[narrow]]'></partial-dev-fire-event>
      </template>
      <template is='dom-if' if='[[isSelectedDevState]]'>
        <partial-dev-set-state main narrow='[[narrow]]'></partial-dev-set-state>
      </template>
    </paper-drawer-panel>

  </template>
</dom-module>
