<link rel='import' href='../util/hass-behavior.html'>

<script>
Polymer({
  is: 'partial-panel-resolver',

  behaviors: [window.hassBehavior],

  properties: {
    hass: {
      type: Object,
      observer: 'updateAttributes',
    },

    narrow: {
      type: Boolean,
      value: false,
      observer: 'updateAttributes',
    },

    showMenu: {
      type: Boolean,
      value: false,
      observer: 'updateAttributes',
    },

    panel: {
      type: Object,
      bindNuclear: function (hass) {
        return hass.panelGetters.activePanel;
      },
      observer: 'panelChanged',
    },
  },

  panelChanged: function (panel) {
    if (!panel) return;

    this.importHref(panel.get('url'));

    window.hassUtil.dynamicContentUpdater(
      this, 'ha-panel-' + panel.get('component_name'), {
        hass: this.hass,
        narrow: this.narrow,
        showMenu: this.showMenu,
        panel: panel.toJS(),
      });
  },

  updateAttributes: function () {
    const customEl = Polymer.dom(this).lastChild;
    if (!customEl) return;
    customEl.hass = this.hass;
    customEl.narrow = this.narrow;
    customEl.showMenu = this.showMenu;
  },
});
</script>
