<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="./partial-base.html">

<link rel="import" href="../components/events-list.html">

<dom-module id="partial-dev-fire-event">
  <style>
    .form {
      padding: 24px;
      background-color: white;
      margin-top: 64px;
      -ms-user-select: initial;
      -webkit-user-select: initial;
      -moz-user-select: initial;
    }

    .ha-form {
      margin-right: 16px;
    }
  </style>

  <template>
    <partial-base narrow="{{narrow}}" show-menu='[[showMenu]]'>
      <span header-title>Fire Event</span>

      <div class='form fit'>
        <p>
          Fire an event on the event bus.
        </p>

        <div class$='[[computeFormClasses(narrow)]]'>
          <div class='ha-form flex'>
            <paper-input label="Event Type" autofocus required value='{{eventType}}'></paper-input>
            <paper-textarea label="Event Data (JSON, optional)" value='{{eventData}}'></paper-textarea>
            <paper-button on-tap='fireEvent' raised>Fire Event</paper-button>
          </div>

          <div>
            <h4>Available events:</h4>
            <events-list on-event-selected='eventSelected'></event-list>
          </div>
        </div>
      </div>
    </partial-base>

  </template>
</dom-module>
