<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../components/ha-voice-command-progress.html">
<link rel="import" href="../components/ha-zone-cards.html">

<dom-module id="partial-zone">
  <style>
    .root {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .content-wrapper {
      overflow: scroll;
      background-color: #E5E5E5;
    }

    .content-wrapper ::content .listening {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;

      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px, rgba(0, 0, 0, 0.098) 0px 0px 3px;
      padding: 16px;
      background-color: rgba(255, 255, 255, 0.95);
      line-height: 2em;
      cursor: pointer;
    }
  </style>

  <template>
    <div class='root layout vertical'>
      <paper-toolbar>
        <paper-icon-button icon='menu' hidden$='[[!narrow]]' on-tap='toggleMenu'></paper-icon-button>
        <div class='title'>States</div>

        <paper-icon-button
          icon="refresh"
          class$="[[computeRefreshButtonClass(isFetching)]]"
          on-click="handleRefresh" hidden$="[[isStreaming]]"
        ></paper-icon-button>
        <paper-icon-button
          icon="[[computeListenButtonIcon(isListening)]]"
          hidden$='[[!canListen]]'
          on-click="handleListenClick"></paper-icon-button>
      </paper-toolbar>

      <div class='content-wrapper flex'>
        <div class='listening' hidden$="[[!showListenInterface]]"
          on-click="handleListenClick">
          <ha-voice-command-progress></ha-voice-command-progress>
        </div>

        <ha-zone-cards states='[[states]]' columns='[[columns]]'></ha-zone-cards>
      </div>
    </div>
  </template>

</dom-module>
