<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="./partial-base.html">

<link rel="import" href="../components/services-list.html">

<dom-module id="partial-dev-call-service">
  <style is="custom-style" include="iron-flex iron-positioning"></style>
  <style>
    .form {
      padding: 24px;
      background-color: white;
      margin-top: 64px;
      -ms-user-select: initial;
      -webkit-user-select: initial;
      -moz-user-select: initial;
    }

    .ha-form {
      margin-right: 16px;
    }

    .description {
      margin-top: 24px;
      white-space: pre-wrap;
    }
  </style>
  <template>
    <partial-base narrow="[[narrow]]" show-menu='[[showMenu]]'>
      <span header-title>Call Service</span>

      <div class='form fit'>
        <p>
          Call a service from a component.
        </p>

        <div class$='[[computeFormClasses(narrow)]]'>
          <div class='layout vertical flex'>
            <div class='ha-form'>
              <paper-input label="Domain" autofocus value='{{domain}}'></paper-input>
              <paper-input label="Service" value='{{service}}'></paper-input>
              <paper-textarea label="Service Data (JSON, optional)" value='{{serviceData}}'></paper-textarea>
              <paper-button on-tap='callService' raised>Call Service</paper-button>
            </div>
            <div class='description'>[[description]]</div>
          </div>
          <div>
            <h4>Available services:</h4>
            <services-list on-service-selected='serviceSelected'></services-list>
          </div>
        </div>
      </div>
    </partial-base>
  </template>
</dom-module>
