name: Translations

on:
  workflow_dispatch:
  push:
    branches:
      - dev
    paths:
      - src/translations/en.json

jobs:
  upload:
    name: Upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5.0.0

      - name: Upload Translations
        run: |
          export LOKALISE_TOKEN="${{ secrets.LOKALISE_TOKEN }}"
          ./script/translations_upload_base
