name: Translations

on:
  push:
    branches:
      - dev
    paths:
      - src/translations/en.json

env:
  NODE_VERSION: 16

jobs:
  upload:
    name: Upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3.5.2

      - name: Upload Translations
        run: |
          export LOKALISE_TOKEN="${{ secrets.LOKALISE_TOKEN }}"

          ./script/translations_upload_base
